html, body{
	overflow-x: hidden;
	color: #39835C;
}

#contact-and-social-media{
	background-color: #A8CF45;
}

.social-item{
	padding-right: 15px;
}

#navigation{
	padding: 0 15px;
	background-color: #fff;
	border-bottom: 1px solid lightgray;
	box-shadow: -3px 2px 3px 0 lightgray;
}

.top-item{
	background-color: lightgray;
}

p{
	color: #444;
}

#introduction{
	margin-bottom: 10x;
	padding-bottom: 0;
}

#products{
	background-color: #999;
	height: 400px;
	background-image: url(../images/cerea.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.service-item{
	position: relative;
}

.service-item img{
	width: 100%;
	position: relative;
    transition: all 0.5s linear;
    transform: scale(1);
}

.service-item-title{
	padding-left: 10%;
	position: absolute;
	top: 20px;
	font-size: 25px;
	font-weight: bold;

}

.service-item-message{
	padding: 0 10%;
	padding-left: 5%;
	position: absolute;
	bottom: 20%;
	color: white;
	font-weight: bold;
	display: none;
}

.service-item:hover .service-item-message{
	display: block;
}

.service-item:hover .img-responsiv{
	transform: scale(1.1);
	opacity: 1;
}

.service-item:hover{
	opacity: 1;
}

.footer-ul li{
	list-style: none;
	margin-bottom: 3px;
	padding-left: 10px;
}

.footer-ul li a:hover{
	text-decoration: underline;
	cursor: pointer;
}

.btn-read-more{
	background-color: #A8CF45;
}

#about-content{
	margin: 0;
	padding: 0;
}

#form-div{
	background-color: #39835C;
	border: 1px solid lightgray;
	padding-bottom: 15px;
	padding-top: 10px;
	border-radius: 10px;
}

.partner-img{
	width: 100%; 
	max-height: 200px;
	filter: grayscale(1);
	transition: ease-in .5s;
}

.partner-img:hover{
	filter: grayscale(0);
}

.sub-section{
	padding-bottom: 5%;

}